body {
    font-family: Arial, sans-serif;
    padding: 50px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #f5f5f5;
}

.center {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

form {
    margin-bottom: 20px;
}

input {
    margin-top: 10px;
    display: block;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* This will specifically target the date input field */
input[type="month"] {
    width: 50%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

label {
    text-align: left;
    display: block;
    margin-top: 15px;
}
